.media-img[b-eolgdc9jpn]{
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
}

    .media-img:hover[b-eolgdc9jpn] {
        transform: scale(1.1);
    }

.media[b-eolgdc9jpn] {
    display: flex;
    align-items: flex-start;
}

.media-body[b-eolgdc9jpn]{
    flex: 1;
}

.media-img-wrapper[b-eolgdc9jpn]{
    width: 200px;
    text-align: center;
}

.price[b-eolgdc9jpn] {
    color: green
}

@media(max-width: 1023.98px){
    .media[b-eolgdc9jpn] {
        flex-direction: column;

    }

    .media-img-wrapper[b-eolgdc9jpn]{
        width: 100%;
        height: auto;
    }
}