.media-img[b-2ne8jtfhsd]{
    max-height: 500px;
    max-width: 500px;
    border-radius: 6px;
    margin: 0 10px 10px 10px;
}

.media-img-wrapper[b-2ne8jtfhsd]{
    max-width: 500px;
    max-height: 500px;
    text-align: center;
}

@media (max-width: 1023.98px) {
    .media-img[b-2ne8jtfhsd]{
        max-width: 300px;
    }

    .media-img-wrapper[b-2ne8jtfhsd]{
        width: 100%;
        height: auto;
    }
}